<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ deck.name }}</h4>
    <p class="list-group-item-text">Power level : {{ deck.powerLevel }}</p>
  </div>
  <div class="pull-right">
    

    
  </div>


  <!--Chiedere come rimpicciolire immagine-->
  <!--<div class="pull-right">
    <div class="resize">
    <img class="resize"[src]="deck.commander.img">
  </div>
  </div>-->
</a>
