
  <div class="row" style="display: flex">
    <div class="col-xs-6">
      <h1 class="provaFont"style="color:white; margin: 0px;"> {{ deck.name }}</h1>
      <!--Add symbols of mana-->
      <p style="color:white">{{ deck.manaColor }}</p>
    </div>
    <!--ManageButton-->
    <div class="col-xs-6">
      <div >
          <div
          class="btn-group"
          style="margin-right:0 auto"
          appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage deck <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" (click)="onSeeDeck()">To See the deck</a></li>
              <li><a style="cursor: pointer;" (click)="onEditDeck()">Edit Deck</a></li>
              <li><a style="cursor: pointer;" (click)="onDeleteDeck()">Delete deck</a></li>
          </ul>
        </div>    
      </div>
    </div>
  </div>
  
 

  <!--Immagini di Commander e Partner-->
  <div class="row row-list" >
    <div class="col-xs-6  ">
      <img
        [src]="deck.commander.img"
        alt="{{ deck.name }}"
        class="centerImg"
        style="max-height: 300px; align-self: center;">
    </div>
    <div class="col-xs-6">
        <img
          [src]="deck.partner.img"
          alt="{{ deck.partner }}"
          class="centerImg"
          style="max-height: 300px;">
    </div>
  </div>


  
 
  